{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <br>
        <br>
        <br>
        <br>
        <h3>About Us</h3>
        <hr>
        <h5>Kishan Rashan Shop initiative by KRDC.....</h5>
        <br>
        <!-- <img src="./agriculture-robot.jpg" alt="the rashan Shop" width="1000px" height="400px"> -->
        <p>The Kishan Rashan Shop is an initiative organised by <strong>Kishan Research and Development Center (KRDC)</strong>.  Aim and Motivate of Kishan Ration shop is to develop the 
            economic level of the farmers and to get right price for the Agri products and manufacturing products, cultivated by Indian farmers. 
            Through this shop we maintain value of money by cutting out the middle man and selling direct. 
            This will develop the economic level of each farmers by getting affordable price for all products cultivated and manufactured by Indian Farmers. 
            And to reach the Agri products and FMCG products direct from farmer to the all Farmers of Indian consumers. By this project of Kishan Ration Shop all the Kishan Society members of India will get all the FMCG, Vegetable and Fruit products in Kishan Subsidy rate. 
        </p>
        <br><br>
        <h3>Major Aims of KRDC-Kishan Rashan Shop:</h3>
        <ul>
            <li>To Became India as an Self Sustainable Country</li><br>
            <li>To Increase the money value of India</li><br>
            <li>To Cultivate over all India in 100% Natural</li><br>
            <li>To Develop Economic Level of India</li><br>
            <li>To Became India as No1 in Agricultural</li>
        </ul>
{% endblock content %}